In [1]:
import pandas as pd

In [2]:
df_books=pd.read_csv("datos/good_reads_final.csv")
df_books.head()

,author_average_rating,author_gender,author_genres,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
0,4.01,female,"historical-fiction,",74489,Victoria Thompson\n,/author/show/74489.Victoria_Thompson,74399,6268,United States\n,4.02,https://www.goodreads.com/book/show/686717.Mur...,686717,\n Murder on St. Mark's Place\n,Mystery,Historical,5260,375,277,2000,3230
1,4.15,male,"literature-fiction,mystery-thrillers,",706255,Stieg Larsson\n,/author/show/706255.Stieg_Larsson,3726435,142704,Sweden\n,4.13,https://www.goodreads.com/book/show/2429135.Th...,2429135,\n The Girl with the Dragon Tattoo\n,Fiction,Mystery,2229163,65227,465,August 2005,3062
2,4.00,female,"romance,",5618190,Mimi Jean Pamfiloff\n,/author/show/5618190.Mimi_Jean_Pamfiloff,76496,7975,United States\n,3.99,https://www.goodreads.com/book/show/27833684-t...,27833684,\n Tailored for Trouble\n,Romance,Contemporary,2151,391,354,2016,4585
3,3.88,male,"fiction,memoir,",37871,José Donoso\n,/author/show/37871.Jos_Donoso,5522,489,Chile\n,4.14,https://www.goodreads.com/book/show/382975.The...,382975,\n The Obscene Bird of Night\n,Fiction,Magical Realism,1844,173,438,1970,1533
4,4.10,female,"young-adult,fantasy,",36122,Patricia C. Wrede\n,/author/show/36122.Patricia_C_Wrede,291013,13453,United States\n,4.01,https://www.goodreads.com/book/show/64207.Sorc...,64207,\n Sorcery & Cecelia: or The Enchanted Ch...,Fantasy,Young Adult,17051,1890,326,April 15th 1988,2105

Lo primero averiguamos el número de filas y columnas del data frame

In [3]:

df_books.shape

(22891, 20)

Vamos a ver si tuviera algún duplicado.

In [4]:
df_books.duplicated().sum()

0

No tiene duplicados así que vamos a ver el nombre de cada columna para ver la información con la que podemos jugar

In [5]:

df_books.columns

Index(['author_average_rating', 'author_gender', 'author_genres', 'author_id',
       'author_name', 'author_page_url', 'author_rating_count',
       'author_review_count', 'birthplace', 'book_average_rating',
       'book_fullurl', 'book_id', 'book_title', 'genre_1', 'genre_2',
       'num_ratings', 'num_reviews', 'pages', 'publish_date', 'score'],
      dtype='object')

Vamos a ver el tipo de dato por columna. Lo hago con info porque así veo si hay algun Nan.

In [6]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22891 entries, 0 to 22890
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   author_average_rating  22891 non-null  float64
 1   author_gender          22891 non-null  object
 2   author_genres          22891 non-null  object
 3   author_id              22891 non-null  int64
 4   author_name            22891 non-null  object
 5   author_page_url        22891 non-null  object
 6   author_rating_count    22891 non-null  int64
 7   author_review_count    22891 non-null  int64
 8   birthplace             22891 non-null  object
 9   book_average_rating    22891 non-null  float64
 10  book_fullurl           22891 non-null  object
 11  book_id                22891 non-null  object
 12  book_title             22891 non-null  object
 13  genre_1                22891 non-null  object
 14  genre_2                22891 non-null  object
 15  num_ratings            22891 non-null  int64
 16  num_reviews            22891 non-null  int64
 17  pages                  22891 non-null  object
 18  publish_date           22610 non-null  object
 19  score                  22891 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 3.5+ MB

La única columna que me devuelve Nan es Publish Date, así que voy a ver el porcentaje que representan

In [7]:
df_nulos = pd.DataFrame(df_books.isnull().sum()/df_books.shape[0]*100)
df_nulos[df_nulos[0] > 0]

                     0
publish_date  1.227557

No es un porcentaje muy grande, 1,23% aun no he decidido que hacer con él. Pasó a lo siguiente de momento. 
Vamos a ver valores unicos por columnas

In [8]:
df_books.columns

Index(['author_average_rating', 'author_gender', 'author_genres', 'author_id',
       'author_name', 'author_page_url', 'author_rating_count',
       'author_review_count', 'birthplace', 'book_average_rating',
       'book_fullurl', 'book_id', 'book_title', 'genre_1', 'genre_2',
       'num_ratings', 'num_reviews', 'pages', 'publish_date', 'score'],
      dtype='object')

In [9]:
df_books["author_gender"].unique()

array(['female', 'male'], dtype=object)

Esta columna esta perfecta, solo devuelve female and male (a lo mejor no muy políticamente correcto en estos tiempos pero me vale)

In [10]:
df_books["author_genres"].unique()

array(['historical-fiction,', 'literature-fiction,mystery-thrillers,',
       'romance,', ..., 'mind-body-spirit,religion-spirituality,',
       'historical-fiction,religion,', 'fantasy,young-adult,romance,'],
      dtype=object)

Quiero ver todos los resultados, no solo estos. Voy a probar a añadir el sum a ver si me devuleve el número de uniquess

Igualmente ya puedo ver que debería añadir una coumna con subgénero. De esa manera podríamos agruparlos más facilmente.

In [11]:
#df_books["author_genres"].unique().sum()

No estoy segura de que haya funcionado, me devolvía una lista con muchísismos nombres.
Voy a probar Groupby para asegurarme del número.

In [12]:
pd.DataFrame(df_books.groupby(['author_genres']).count())

,author_average_rating,author_gender,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
author_genres,,,,,,,,,,,,,,,,,,,
"action,adventure,",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"action,thriller,",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"action-adventure,",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"adult,",5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
"adult,new-adult,",5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"young-adult-new-adult-adult,",8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
"young-adult-paranormal-fantasy,",5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
"young-adult-paranormal-romance,",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"young-adult-paranormal-romance,paranormal-fiction,romance,",6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
"yuri,manga,",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

Me devuelve 1803 filas. Definitivamente hay que arreglar los genres. Una solución pausible sería hacer un split y dejar el primer elemento como genre y los siguientes como subgenre y ver como queda. El problema que veo es que no todas las separaciones están hechas igual, unas van con ',' y otras con '-'. Vamos a unificar separaciones y hacer que todo se separe con '-'.

Vamos a usar apply.

In [27]:
def sustituir(genero):
    return genero.replace("," , "-")

df_books["author_genres"]=df_books["author_genres"].apply(sustituir)
df_books.head()

,author_average_rating,author_gender,author_genres,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
0,4.01,female,historical-fiction-,74489,Victoria Thompson\n,/author/show/74489.Victoria_Thompson,74399,6268,United States\n,4.02,https://www.goodreads.com/book/show/686717.Mur...,686717,\n Murder on St. Mark's Place\n,Mystery,Historical,5260,375,277,2000,3230
1,4.15,male,literature-fiction-mystery-thrillers-,706255,Stieg Larsson\n,/author/show/706255.Stieg_Larsson,3726435,142704,Sweden\n,4.13,https://www.goodreads.com/book/show/2429135.Th...,2429135,\n The Girl with the Dragon Tattoo\n,Fiction,Mystery,2229163,65227,465,August 2005,3062
2,4.00,female,romance-,5618190,Mimi Jean Pamfiloff\n,/author/show/5618190.Mimi_Jean_Pamfiloff,76496,7975,United States\n,3.99,https://www.goodreads.com/book/show/27833684-t...,27833684,\n Tailored for Trouble\n,Romance,Contemporary,2151,391,354,2016,4585
3,3.88,male,fiction-memoir-,37871,José Donoso\n,/author/show/37871.Jos_Donoso,5522,489,Chile\n,4.14,https://www.goodreads.com/book/show/382975.The...,382975,\n The Obscene Bird of Night\n,Fiction,Magical Realism,1844,173,438,1970,1533
4,4.10,female,young-adult-fantasy-,36122,Patricia C. Wrede\n,/author/show/36122.Patricia_C_Wrede,291013,13453,United States\n,4.01,https://www.goodreads.com/book/show/64207.Sorc...,64207,\n Sorcery & Cecelia: or The Enchanted Ch...,Fantasy,Young Adult,17051,1890,326,April 15th 1988,2105

Una vez que tenemos los géneros separados solo por '-', vamos a separar la primera palabra del resto y crear dos columnas de subgénero dada la variedad de información. Antes de eso, veo que algunas están definidas como literatura. Todo es literatura, por lo que vamos a eliminar esa definición del género.